.plan-item {
  &, &.fc-v-event {
    background-color: #ffffff44;
    border-color: #333;
    user-select: none;
    // pointer-events: none;
    * {
      color: #888;
    }
  }
  &.is-selected {
    background-color: #ddd;
  }
  &.hidden-item {
    // opacity: 0;
    display: none;
  }
}
